
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Palanquin:300');
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  color: #8f959a;
  line-height: 1.5;
  background: linear-gradient(135deg, #ff982b 1%,#e559a1 100%);
}

table {
    border-collapse: collapse;
    color: #000;
}

th {
  color: #4286f4;
  letter-spacing: 1px;
}

td, th {
    text-align: left;
    padding: 8px 0px;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #fcfcfc;
}

tr{
  font-weight: 300;
}

.container {
  margin: 4em auto;
}

.inner-container {
  position: relative;
  max-width: 80%;
  min-width: 360px;
  width: 100%;
  margin: 0 auto 100px;
}

.content {
  position: absolute;
  opacity: 0;
  top: 2em;
  left: 10%;
  width: 80%;
  margin: 0 auto;
}

.active {
  display: block !important;
  margin: 0 auto;
  opacity: 1;
  transition: ease-in-out 1s;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 5px;
  padding: 10px 10px;
  height: 620px;
  box-sizing: border-box;
  transition: 0.3s ease;
  box-shadow: 10px 10px 26px -2px rgba(0,0,0,0.15);
}
.card:first-child, .card:nth-child(2), .card:nth-child(3) {
  height: 8px;
  border-radius: 5px 5px 0 0;
  padding: 0;
  box-shadow: none;
}
.card:first-child {
  margin: 0 30px;
  background: #022b6d;
}
.card:nth-child(2) {
  margin: 0 20px;
  background: #1f55ad;
}

.card:nth-child(3) {
  margin: 0 10px;
  background: #4286f4;
}

.card .progress-container {
  background: #022b6d;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.card .progress-container .step {
  background-color: #4286f4;
  height: 6px;
  width: 10%;
  border-radius: 0 0 0 5px;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin: 0;
}

h2{
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin: 0;
  margin-bottom: 20px;
}

h4 {
  text-align: right;
  margin-right: 10px;
}

p {
  margin-top: 0;
}

a {
  text-decoration:none;
}

.btn {
  padding: 10px;
  margin: 60px 5px;
  transition: all .2s ease-in-out;
  text-align: center;
  font-weight: 500;
  border-radius: 3px;
  font-size: 20px;
  text-transform: uppercase;
}


.btn-primary {
  color: #4286f4;
  background: #fff;
}

.btn-primary:hover {
  transform: scale(1.1);
  color: #188e9b;
}
